{% extends 'layout.html.twig' %}

{% form_theme formRecords with ['forms.html.twig'] %}

{% block page_title %}Editer le compte de {{ user.username }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 ma-25-top pa-20 bg-white">
                <h2 class="ma-15-bottom">Sa guilde : </h2>
                {{ form_start(formMember) }}
                {{ form_widget(formMember) }}
                <input type="submit" value="Enregistrer">
                {{ form_end(formMember) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 ma-25-top pa-20 bg-white">
                <h2 class="ma-15-bottom">Ses records : </h2>
                {{ form_start(formRecords) }}
                {{ form_widget(formRecords) }}
                <input type="submit" value="Enregistrer">
                {{ form_end(formRecords) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 ma-25-top pa-20 bg-white">
                <h2 class="ma-15-bottom">Ses bâtiments (niveaux) : </h2>
                {{ form_start(formBuilds) }}
                {{ form_widget(formBuilds) }}
                <input type="submit" value="Enregistrer">
                {{ form_end(formBuilds) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 ma-25-top pa-20 bg-white">
                <h2 class="ma-15-bottom">Changer son mot de passe : </h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Enregistrer">
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}