{% extends 'layout.html.twig' %}

{% block page_title %}Admin - Gestion des guildes{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white">
                    <h2>Créer une guilde :</h2>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Créer">
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white">
                    <h2 class="ma-20-bottom">Liste des guildes :</h2>
                    {% for guild in guilds %}
                    <p>
                        <span>{{ guild.name }}</span>
                        <span class="f-right"><a href="{{ path('admin_guild_leaders', {'id':guild.id}) }}">Gérer les leaders</a></span>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}