{% extends 'layout.html.twig' %}

{% block page_title %}Admin - Gestion des défis{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white">
                    <h2>Créer une catégorie de défis :</h2>
                    {{ form_start(formCat) }}
                    {{ form_widget(formCat) }}
                    <input type="submit" value="Créer">
                    {{ form_end(formCat) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white">
                    <h2>Créer un défi :</h2>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Créer">
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white">
                    <h2 class="ma-20-bottom">Liste des défis :</h2>
                    {% for hf in hfs %}
                        <p class="border-bottom pa-10-bottom">
                            <span>{{ hf.name }} ({{ hf.text }})</span>
                            <span class="f-right"><a href="{{ path('admin_hf_delete', {'id':hf.id}) }}">Supprimer</a></span>
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}