{% extends 'layout.html.twig' %}

{% block page_title %}Admin - Gestion des comptes{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 ma-25-top">
            <div class="pa-20 bg-white">
                <h2>Créer un compte :</h2>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Créer">
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-md-9 ma-25-top">
            <div class="pa-20 bg-white">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Nom</th>
                        <th scope="col" data-sort="int" class="cursor-click"><i class="fas fa-caret-down"></i> Dernière connexion</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td><a href="{{ path('guild_member_info', {'id': user.id}) }}">{{ user.username }}</a></td>
                            <td data-sort-value="{{ user.lastVisitAt ? user.lastVisitAt|date("U") : '0' }}">{{ user.lastVisitAt ? user.lastVisitAt|date("d/m/Y") : 'Jamais' }}</td>
                            <td>
                                <a href="{{ path('admin_edit_account', {'id':user.id}) }}">Modifier</a><br>
                                {% if not user.isAdmin %}
                                <span class="like-a-link" data-toggle="modal" data-target="#deleteModal{{ user.id }}">Supprimer</span>
                                {% endif %}
                            </td>
                        </tr>
                        <div class="modal fade" id="deleteModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ user.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel{{ user.id }}">Supprimer le compte de {{ user.username }} (guilde : {{ user.member ? user.member.guild.name : "aucune" }})</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous certain de vouloir supprimer le compte ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        {% if not user.isAdmin %}
                                        <a href="{{ path('admin_delete_account', {'id':user.id}) }}"><button type="button" class="btn btn-primary">Supprimer</button></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}