{% extends 'layout.html.twig' %}

{% block page_title %}Admin - Gestion des comptes{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 ma-25-top">
            <div class="pa-20 bg-white">
                <h2>Créer un compte :</h2>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Créer">
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-md-9 ma-25-top">
            <div class="pa-20 bg-white">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Nom</th>
                        <th scope="col" data-sort="int" class="cursor-click"><i class="fas fa-caret-down"></i> Dernière connexion</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td><a href="{{ path('guild_member_info', {'id': user.id}) }}">{{ user.username }}</a></td>
                            <td data-sort-value="{{ user.lastVisitAt ? user.lastVisitAt|date("U") : '0' }}">{{ user.lastVisitAt ? user.lastVisitAt|date("d/m/Y") : 'Jamais' }}</td>
                            <td>
                                <a href="{{ path('admin_edit_account', {'id':user.id}) }}">Modifier</a><br>
                                <a href="{{ path('admin_delete_account', {'id':user.id}) }}">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}