{% extends 'layout.html.twig' %}

{% block page_title %}Mes défenses GVO{% endblock %}

{% block moreCSS %}
    {{ parent() }}
    {{ encore_entry_link_tags('defense') }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white">
                    <h2>Mes défenses :</h2>
                    <p class="ma-25-top">Nombre de défenses 4* : {{ app.user.countNatFourDefenses() }}</p>
                    <p class="border-bottom pa-10-bottom">Nombre de défenses 5* : {{ app.user.countNatFiveDefenses() }}</p>
                    <p class="border-bottom pa-10-bottom"><a href="{{ path('gvo_def_new') }}">Ajouter une défense</a></p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Leader</th>
                            <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Mob 1</th>
                            <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Mob 2</th>
                            <th scope="col" data-sort="int" class="cursor-click"><i class="fas fa-caret-down"></i> Victoires</th>
                            <th scope="col" data-sort="int" class="cursor-click"><i class="fas fa-caret-down"></i> Défaites</th>
                            <th scope="col">Warning</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for defense in myDefenses %}
                            <tr class="border-bottom">
                                <td data-sort-value="{{ defense.mobLeader.name }}">
                                    <img class="monster-img" src="{{ defense.mobLeader.image }}">
                                    {{ defense.mobLeader.name }}
                                </td>
                                <td data-sort-value="{{ defense.mobOne.name }}">
                                    <img class="monster-img" src="{{ defense.mobOne.image }}"> {{ defense.mobOne.name }}
                                </td>
                                <td data-sort-value="{{ defense.mobTwo.name }}">
                                    <img class="monster-img" src="{{ defense.mobTwo.image }}"> {{ defense.mobOne.name }}
                                </td>
                                <td data-sort-value="{{ defense.victories }}"><input type="number" min="0" data-id="{{ defense.id }}" class="victory" value="{{ defense.victories }}"></td>
                                <td data-sort-value="{{ defense.loses }}"><input type="number" min="0" data-id="{{ defense.id }}" class="loses" value="{{ defense.loses }}"></td>
                                <td>
                                    {% if defense.getElementWarning() %}
                                        <p class="red">/!\ Cette défense contient des monstres du même élément !</p>
                                    {% endif %}
                                </td>
                                <td><a href="{{ path('gvo_def_delete', {'id':defense.id}) }}">Supprimer</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block moreJS %}
    {{ parent() }}
    {{ encore_entry_script_tags('defense') }}
{% endblock %}