<nav>
    <i class="fas fa-bars" id="burger"></i>
</nav>
<div id="menuDisplayed">
    <a href="{{ path('index') }}" {% if isDashboard is defined %}class="active"{% endif %}>Accueil</a>
    <a href="{{ path('edit_account') }}" {% if isMyAccount is defined %}class="active"{% endif %}>Mon compte</a>
    <a href="{{ path('gvo_offs') }}" {% if isOffensesGVO is defined %}class="active"{% endif %}>Offenses GVO</a>
    <a href="{{ path('gvo_defs') }}" {% if isGVO is defined %}class="active"{% endif %}>Mes défenses GVO</a>
    <a href="{{ path('toolbox') }}" {% if isToolbox is defined %}class="active"{% endif %}>Boîte à outils</a>

    {% if app.user.member %}
        <a href="{{ path('guild_management') }}" {% if isGuildManagement is defined %}class="active"{% endif %}>Guilde - Membres</a>
        <a href="{{ path('enemy_guilds') }}" {% if isGuildGVO is defined %}class="active"{% endif %}>Guilde - GVO</a>
    {% endif %}

    {% if app.user.member and app.user.member.isLeader %}
        <a href="{{ path('guild_stats') }}" {% if isGuildStats is defined %}class="active"{% endif %}>Guilde - Statistiques</a>
    {% endif %}

    {% if app.user.isAdmin %}
        <a href="{{ path('admin_accounts') }}" {% if isAdminAccounts is defined %}class="active"{% endif %}>Admin - Comptes</a>
    {% endif %}

    <a href="{{ path('app_logout') }}">Déconnexion</a>
</div>