{% extends 'layout.html.twig' %}

{% block page_title %}Nouvelle offense GVO{% endblock %}

{% block moreCSS %}
    {{ parent() }}
    {{ encore_entry_link_tags('defense') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 ma-25-top">
                <div class="row">
                    <div class="col-12">
                        <div class="pa-20 bg-white">
                            <h2>Comment attaquer :</h2>
                            <div class="row align-items-center pa-25">
                                <div class="col-4">
                                    <div class="monster_lead">
                                        <img class="border-leader full-width" src="{{ defense.mobLeader.image }}">
                                        <img class="leader_box" src="{{ asset('build/assets/img/leader_skill.png') }}">
                                    </div>
                                </div>
                                <div class="col-4"><img class="full-width" src="{{ defense.mobOne.image }}"></div>
                                <div class="col-4"><img class="full-width" src="{{ defense.mobTwo.image }}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        {% for off in defense.offenses %}
                        <div class="pa-20 bg-white ma-25-top">
                            <div class="row align-items-center pa-25">
                                <div class="col-4">
                                    <div class="monster_lead">
                                        <img class="border-leader full-width" src="{{ off.mobLeader.image }}">
                                        <img class="leader_box" src="{{ asset('build/assets/img/leader_skill.png') }}">
                                    </div>
                                </div>
                                <div class="col-4"><img class="full-width" src="{{ off.mobOne.image }}"></div>
                                <div class="col-4"><img class="full-width" src="{{ off.mobTwo.image }}"></div>
                            </div>
                            <p class="pa-25-right pa-25-left">{{ off.comment }}</p>
                            <p class="t-align-right ma-5-top">Par {{ off.owner ? off.owner.username : 'un ancien guildmate' }}</p class="t-align-right ma-5-top">
                            {% if app.user.isAdmin %}
                                <p class="t-align-right ma-5-top"><a href="{{ path('gvo_off_delete', {'id' : off.id}) }}">Supprimer</a></p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 ma-25-top">
                <div class="pa-20 bg-white">
                    <h2>Ajouter mon offense :</h2>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Créer">
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block moreJS %}
    {{ parent() }}
    {{ encore_entry_script_tags('defense') }}
{% endblock %}