{% extends 'layout.html.twig' %}

{% form_theme formGuild 'forms.html.twig' %}

{% block page_title %}Tableau de bord{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if memberInfos and memberInfos.baseNote %}
                <div class="col-12">
                    <div class="pa-20 bg-note">
                        <p class="ma-5-bottom"><span class="bold">Note au joueur : </span></p>
                        <p>{{ memberInfos.baseNote }}</p>
                    </div>
                </div>
            {% endif %}
            <div class="col-md-6 ma-25-top">
                <div class="pa-20 bg-white full-height">
                {% if memberInfos %}
                    {{ form_start(formGuild) }}
                    <div class="column">
                        {{ form_row(formGuild.isInGvG) }}<br>
                        {{ form_row(formGuild.isInGvO) }}
                        <p><input type="submit" value="Modifier"></p>
                    </div>
                    {{ form_end(formGuild) }}
                    {% if guildInfos %}
                        {% if guildInfos.horaires %}
                            <p><i class="fas fa-clock"></i> <span class="bold">Horaires des GvG</span> : {{ guildInfos.horaires }}</p>
                        {% endif %}
                        {% if guildInfos.gvgDefType %}
                            <p><span class="bold"><i class="fab fa-fort-awesome"></i> Type de défenses GvG</span> : {{ guildInfos.gvgDefType }}</p>
                        {% endif %}
                        {% if guildInfos.plusRule %}
                            <p><i class="fas fa-skull"></i> Règle du +{{ guildInfos.plusRule }}, tours vertes en priorité.{% if guildInfos.gvgWarning %} {{ guildInfos.gvgWarning }} attaques minimum.{% endif %}</p>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <p>Vous ne faites pas partie d'une guilde de l'alliance.</p>
                {% endif %}
                </div>
            </div>

            <div class="col-md-6 ma-25-top">
                <div class="pa-20 bg-white full-height">
                    {% if guildInfos %}
                        <p><span class="bold">Nom de la guilde</span> : {{ guildInfos.name }}</p>
                        <p><span class="bold">Niveau de la guilde</span> : {{ guildInfos.level ? guildInfos.level : 'Non renseigné'  }}</p>
                        {% if guildInfos.message %}
                            <p class="ma-20-bottom"><span class="bold">Message de guilde :</span> {{ guildInfos.message }}</p>
                        {% endif %}
                        {% if guildInfos.websiteLink %}
                            <p>Site web : <a href="{{ guildInfos.websiteLink }}">{{ guildInfos.websiteLink }}</a></p>
                        {% endif %}
                        {% if guildInfos.discordLink %}
                            <p><a href="{{ guildInfos.discordLink }}"><i class="fab fa-discord"></i> Discord</a></p>
                        {% endif %}
                    {% endif %}
                    <p>
                        <span class="bold">Votre niveau</span> :
                        <span{{ app.user.scores ? (" class='" ~ app.user.scores.getRecordsColor() ~ "'")|raw : '' }}>
                            {{ app.user.scores ? app.user.scores.calcScores() : ('<a href="'~ path('edit_account') ~'">Renseignez votre profil</a>')|raw }}
                        </span><br>
                        Votre niveau est déterminé selon votre avancée en PVE. Améliorez vos records pour monter votre niveau.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ma-25-top">
                <div class="pa-20 bg-white">
                    <h2 class="ma-20-bottom">Evènements en cours :</h2>
                    {% for event in events %}
                        <p class="border-bottom pa-10"><a href="{{ path('show_event', {'id':event.id}) }}">{{ event.name }}</a> par {{ event.owner.username }}</p>
                    {% endfor %}
                    <p class="ma-25-top"><a href="{{ path('new_event') }}">Créer un nouvel event</a></p>
                </div>
            </div>
            <div class="col-md-6 ma-25-top">
                <div class="pa-20 bg-white">
                    <h2 class="ma-20-bottom">Défis :</h2>

                    {% for cat in hfsCat %}
                        <p class="ma-10-bottom ma-10-top">{{ cat.name }} :</p>
                        {% for hf in cat.achievements %}
                            <img src="{{ hf.getImagePath() }}" class="hf_box{{ hf not in app.user.achievements ? ' inactive' : '' }}" title="{{ hf.name }}" data-content="{{ hf.text }}" data-toggle="popover">
                        {% endfor %}
                    {% endfor %}
                    <p class="ma-10-bottom ma-10-top">Sans catégorie :</p>
                    {% for hf in hfs %}
                        <img src="{{ hf.getImagePath() }}" class="hf_box{{ hf not in app.user.achievements ? ' inactive' : '' }}" title="{{ hf.name }}" data-content="{{ hf.text }}" data-toggle="popover">
                    {% endfor %}
                    <p class="ma-10-top">Les défis doivent être validés par les admins de la guilde, n'hésitez pas à leur demander !</p>
                    {% if app.user.isAdmin %}
                        <p class="t-align-right ma-25-top"><a href="{{ path('edit_hfs', {'id':app.user.id}) }}">Modifier</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}