{% extends 'layout.html.twig' %}

{% block page_title %}GVO - Sièges précédents{% endblock %}

{% block moreCSS %}
    {{ parent() }}
    {{ encore_entry_link_tags('defense') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white">
                    <h2 class="ma-20-bottom">Sièges précédents :</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Date</th>
                            <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Rang</th>
                            <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Guilde ennemie 1</th>
                            <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Guilde ennemie 2</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for siege in sieges %}
                            <tr>
                                <td>{{ siege.date|date("d/m/Y") }}</td>
                                <td>{{ siege.rank }} <img src="{{ siege.rank.getImage() }}"></td>
                                <td><a href="{{ path('enemy_guild_defenses', {'id':siege.enemyGuildOne.id}) }}">{{ siege.enemyGuildOne.name }}</a></td>
                                <td><a href="{{ path('enemy_guild_defenses', {'id':siege.enemyGuildTwo.id}) }}">{{ siege.enemyGuildTwo.name }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if leader %}
                        <a href="{{ path('add_siege') }}" class="ma-10-top">Ajouter un siège</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block moreJS %}
    {{ parent() }}
{% endblock %}