{% extends 'layout.html.twig' %}

{% block page_title %}Gestion de guilde{% endblock %}

{% block content %}
    <div class="container">
        {% if needScores %}
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white">
                    <h2 class="ma-20-bottom">Scores GvG de cette semaine :</h2>
                    {{ form_start(formScore) }}
                    {{ form_widget(formScore) }}
                    <input type="submit" value="Enregistrer">
                    {{ form_end(formScore) }}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white border-bottom">
                    <h2>Voir les infos de GvG :</h2>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Voir la semaine">
                    {{ form_end(form) }}
                </div>
                {% if users %}
                    <div class="pa-20 bg-white">
                        <p>Personnes critiques (- de {{ critical }} attaques) :</p>
                        {% for user in users.critical %}
                            <p class="pa-10-left">- <a href="{{ path('guild_member_info', {'id':user.id}) }}">{{ user.username }}</a></p>
                        {% endfor %}
                        <p>Personnes devant faire attention (- de {{ warning }} attaques) :</p>
                        {% for user in users.warning %}
                            <p class="pa-10-left">- <a href="{{ path('guild_member_info', {'id':user.id}) }}">{{ user.username }}</a></p>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="pa-20 bg-white">
                        <p>Aucun record enregistré pour cette recherche</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}