{% extends 'layout.html.twig' %}

{% block page_title %}Gestion de guilde{% endblock %}

{% block moreCSS %}
    {{ parent() }}
    {{ encore_entry_link_tags('guild') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white">
                    <a href="{{ path('guild_manage_infos') }}" class="ma-25-top ma-25-bottom block f-right">Modifier les informations de guilde</a>
                    {% if needScores %}
                        <a href="{{ path('guild_register_gvg_scores') }}" class="ma-25-top ma-25-bottom block f-left">Enregistrer les scores de GvG</a>
                    {% endif %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Niveau</th>/var/www/html/quasiaqui/immo-quasiaqui/assets/css/vanillaSelectBox.css
                            <th scope="col">GvG</th>
                            <th scope="col">GvO</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for member in members %}
                            <tr>
                                <td><a href="{{ path('guild_member_info', {'id': member.id}) }}">{{ member.username }}</a></td>
                                <td>{% if member.scores %}{{ member.scores.calcScores() }}{% else %}Aucun score{% endif %}</td>
                                <td>{{ member.member.isInGvG ? 'Oui' : 'Non' }}</td>
                                <td>{{ member.member.isInGvO ? 'Oui' : 'Non' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}