{% extends 'layout.html.twig' %}

{% block page_title %}Gestion de guilde{% endblock %}

{% block moreCSS %}
    {{ parent() }}
    {{ encore_entry_link_tags('guild') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white">
                    {% if leader %}
                        <a href="{{ path('guild_manage_infos') }}" class="ma-25-top ma-25-bottom block f-right">Modifier les informations de guilde</a>
                        {% if needScores %}
                            <a href="{{ path('guild_register_gvg_scores') }}" class="ma-25-top ma-25-bottom block f-left">Enregistrer les scores de GvG</a>
                        {% endif %}
                    {% endif %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="4">Nombre de membres : {{ members|length }}</th>
                        </tr>
                        <tr>
                            <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Nom</th>
                            <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Niveau</th>
                            <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> GvG</th>
                            <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> GvO</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for member in members %}
                            <tr{{ (member.member.getCritical() and app.user.isAdmin) ? (' class="' ~ member.member.getCritical() ~ 'Scores"')|raw : '' }}>
                                <td><a href="{{ path('guild_member_info', {'id': member.id}) }}">{{ member.username }}</a></td>
                                <td>
                                    {% if member.scores %}
                                        <span{{ member.scores ? (" class='" ~ member.scores.getRecordsColor() ~ "'")|raw : '' }}>{{ member.scores ? member.scores.calcScores() : 'Non renseigné' }}</span>
                                    {% else %}
                                        Aucun score
                                    {% endif %}
                                </td>
                                <td>{{ member.member.isInGvG ? 'Oui' : 'Non' }}</td>
                                <td>{{ member.member.isInGvO ? 'Oui' : 'Non' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}