{% extends 'layout.html.twig' %}

{% block page_title %}Profil de {{ member.user.username }}{% endblock %}

{% block moreCSS %}
    {{ parent() }}
    {{ encore_entry_link_tags('guild') }}
    {{ encore_entry_link_tags('defense') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white">
                    <h2>Profil de <strong>{{ member.user.username }}</strong></h2>
                    {% if app.user.isAdmin %}
                        <p>Dernière connexion : {{ member.user.lastVisitAt|date("d/m/Y") }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 ma-25-top">
                <div class="row bg-white pa-20">
                    <div class="col-md-6">
                        <p>Niveau : {{ member.user.scores ? member.user.scores.calcScores() : 'Non renseigné' }}</p>
                        {% if member.user.swarfarm %}
                            <p><a href="{{ member.user.swarfarm }}">Swarfarm</a></p>
                        {% endif %}
                    </div>
                    <div class="col-md-6 border-left">
                        <p>GVG : <span class="roll-gvg-txt">{{ member.isInGvG ? 'Oui' : 'Non' }}</span>{% if leader %} <i class="fas fa-sync-alt roll-gvg" data-id="{{ member.id }}"></i>{% endif %}</p>
                        <p>GVO : <span class="roll-gvo-txt">{{ member.isInGvO ? 'Oui' : 'Non' }}</span>{% if leader %} <i class="fas fa-sync-alt roll-gvo" data-id="{{ member.id }}"></i>{% endif %}</p>
                    </div>
                </div>
            </div>
        </div>
        {% if leader %}
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white">
                    <canvas id="stats"></canvas>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6 ma-25-top">
                <div class="pa-20 bg-white">
                    <h2>Bâtiments</h2>
                    {% if member.user.buildings %}
                    <p class="ma-25-top">Arène :</p>
                    <ul>
                        <li>ATK : {{ member.user.buildings.atk }} / 10</li>
                        <li>DEF : {{ member.user.buildings.def }} / 10</li>
                        <li>VIT : {{ member.user.buildings.spd }} / 10</li>
                        <li>PV : {{ member.user.buildings.pv }} / 10</li>
                        <li>DCC : {{ member.user.buildings.dcc }} / 10</li>
                        <li>Vent : {{ member.user.buildings.wind }} / 10</li>
                        <li>Feu : {{ member.user.buildings.fire }} / 10</li>
                        <li>Eau : {{ member.user.buildings.water }} / 10</li>
                        <li>Light : {{ member.user.buildings.light }} / 10</li>
                        <li>Dark : {{ member.user.buildings.dark }} / 10</li>
                    </ul>
                    <p>Guilde :</p>
                    <ul>
                        <li>ATK : {{ member.user.buildings.gvgAtk }} / 10</li>
                        <li>DEF : {{ member.user.buildings.gvgDef }} / 10</li>
                        <li>DCC : {{ member.user.buildings.gvgDcc }} / 10</li>
                        <li>PV : {{ member.user.buildings.gvgPv }} / 10</li>
                    </ul>
                    {% else %}
                    <p class="ma-25-top">Non renseignés</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 ma-25-top">
                <div class="pa-20 bg-white">
                    <h2>Records</h2>
                    {% if member.user.scores %}
                    <p class="ma-25-top">GB10 : {{ member.user.scores.gb10 }} s.</p>
                    <p>DB10 : {{ member.user.scores.db10 }} s.</p>
                    <p>NB10 : {{ member.user.scores.nb10 }} s.</p>
                    <p>ToA : {{ member.user.scores.toa }} étage(s)</p>
                    <p>ToAH : {{ member.user.scores.toah }} étage(s)</p>
                    <p>R4 : {{ member.user.scores.r4 ? 'Oui' : 'Non' }}</p>
                    <p>R5 : {{ member.user.scores.r5 ? 'Oui' : 'Non' }}</p>
                    <p>SSS Rift Feu : {{ member.user.scores.sssFireRift ? 'Oui' : 'Non' }}</p>
                    <p>SSS Rift Vent : {{ member.user.scores.sssWindRift ? 'Oui' : 'Non' }}</p>
                    <p>SSS Rift Eau : {{ member.user.scores.sssWaterRift ? 'Oui' : 'Non' }}</p>
                    <p>SSS Rift Dark : {{ member.user.scores.sssDarkRift ? 'Oui' : 'Non' }}</p>
                    <p>SSS Rift Light : {{ member.user.scores.sssLightRift ? 'Oui' : 'Non' }}</p>
                    {% else %}
                        <p class="ma-25-top">Non renseignés</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 ma-25-top">
                <div class="pa-20 bg-white">
                    <h2 class="ma-25-bottom">Défenses GVO :</h2>
                    {% if member.user.defenses|length > 0 %}
                        {% for defense in member.user.defenses %}
                            <div class="row align-items-center pa-10-bottom pa-10-top ma-25-bottom border-bottom">
                                <div class="col-4 col-md-3"><img class="border-leader full-width" src="{{ defense.mobLeader.image }}"></div>
                                <div class="col-4 col-md-3"><img class="full-width" src="{{ defense.mobOne.image }}"></div>
                                <div class="col-4 col-md-3"><img class="full-width" src="{{ defense.mobTwo.image }}"></div>
                                <div class="col-md-3"><p>{{ defense.victories }} Victoires <br>{{ defense.loses }} Défaites</p></div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Aucune défense enregistrée</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 ma-25-top">
                <div class="pa-20 bg-white">
                    <h2 class="ma-25-bottom">Défis :</h2>
                    {% for hf in hfs %}
                        <img src="{{ hf.getImagePath() }}" class="hf_box{{ hf not in member.user.achievements ? ' inactive' : '' }}" title="{{ hf.name }}" data-content="{{ hf.text }}" data-toggle="popover">
                    {% endfor %}
                    {% if app.user.isAdmin %}
                        <p class="t-align-right ma-25-top"><a href="{{ path('edit_hfs', {'id':member.user.id}) }}">Modifier</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block moreJS %}
    {{ parent() }}
    {{ encore_entry_script_tags('guild') }}
    {% if leader %}
        <script>
            let ctx = document.getElementById('stats');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for act in activity %}"Semaine {{ act.semaine }}"{% if not loop.last %}, {% endif %}{% endfor %}],
                    datasets: [{
                        label: 'Activité sur les dernières semaines de participation',
                        data: [{% for act in activity %}{{ act.attackNumber }}{% if not loop.last %}, {% endif %}{% endfor %}],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
    {% endif %}
{% endblock %}