{% extends 'layout.html.twig' %}

{% block page_title %}Profil de {{ member.user.username }}{% endblock %}

{% block moreCSS %}
    {{ parent() }}
    {{ encore_entry_link_tags('guild') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white">
                    <h2>Profil de <strong>{{ member.user.username }}</strong></h2>
                </div>
            </div>
            <div class="col-12 ma-25-top">
                <div class="row bg-white pa-20">
                    <div class="col-md-6">
                        <p>Niveau : {{ member.user.scores ? member.user.scores.calcScores() : 'Non renseigné' }}</p>
                        {% if member.user.swarfarm %}
                            <p><a href="{{ member.user.swarfarm }}">Swarfarm</a></p>
                        {% endif %}
                    </div>
                    <div class="col-md-6 border-left">
                        <p>GVG : <span class="roll-gvg-txt">{{ member.isInGvG ? 'Oui' : 'Non' }}</span>{% if leader %} <i class="fas fa-sync-alt roll-gvg" data-id="{{ member.id }}"></i>{% endif %}</p>
                        <p>GVO : <span class="roll-gvo-txt">{{ member.isInGvO ? 'Oui' : 'Non' }}</span>{% if leader %} <i class="fas fa-sync-alt roll-gvo" data-id="{{ member.id }}"></i>{% endif %}</p>
                    </div>
                </div>
            </div>
        </div>
        {% if leader %}
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white">

                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6 ma-25-top">
                <div class="pa-20 bg-white">

                </div>
            </div>
            <div class="col-md-6 ma-25-top">
                <div class="pa-20 bg-white">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block moreJS %}
    {{ parent() }}
    {{ encore_entry_script_tags('guild') }}
{% endblock %}