{% extends 'layout.html.twig' %}

{% block page_title %}Statistiques de la guilde{% endblock %}

{% block moreCSS %}
    {{ parent() }}
    {{ encore_entry_link_tags('guild') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white">
                    <p>Niveau moyen de la guilde : {{ baseStats.levelMoyen }}</p>
                    <canvas id="statsLevel"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 ma-25-top">
                <div class="pa-20 bg-white border-bottom">
                    <h2>Voir les infos de GvG :</h2>
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" value="Voir la semaine">
                    {{ form_end(form) }}
                </div>
                {% if users %}
                <div class="pa-20 bg-white">
                    <p>Personnes critiques (- de {{ critical }} attaques) :</p>
                    {% for user in users.critical %}
                        <p class="pa-10-left">- <a href="{{ path('guild_member_info', {'id':user.id}) }}">{{ user.username }}</a></p>
                    {% endfor %}
                    <p>Personnes devant faire attention (- de {{ warning }} attaques) :</p>
                    {% for user in users.warning %}
                        <p class="pa-10-left">- <a href="{{ path('guild_member_info', {'id':user.id}) }}">{{ user.username }}</a></p>
                    {% endfor %}
                </div>
                {% else %}
                    <div class="pa-20 bg-white">
                        <p>Aucun record enregistré pour cette recherche</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block moreJS %}
    {{ parent() }}
    {{ encore_entry_script_tags('guild') }}
    <script>
        let ctx = document.getElementById('statsLevel');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Aucun", "Early -", "Early +", "Mid -", "Mid +", "Late -", "Late +"],
                datasets: [{
                    label: "Niveaux des membres de guilde",
                    data: [{% for stat in baseStats.statsLevels %}{{ stat }}{% if not loop.last %}, {% endif %}{% endfor %}],
                    backgroundColor: [
                        'rgba(213, 213, 213, 0.5)',
                        'rgba(255, 0, 0, 0.1)',
                        'rgba(255, 0, 0, 0.1)',
                        'rgba(255, 175, 0, 0.1)',
                        'rgba(255, 175, 0, 0.1)',
                        'rgba(255, 0, 0, 0.1)',
                        'rgba(255, 0, 0, 0.1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}